<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
  {{ partial "site-header" . }}
    <div id="wrapper">
	  {{ if or (not .Site.Params.intro.hideWhenSingleColumn) (and .Page.IsHome .Site.Params.intro.alwaysOnHomepage) }} 
		{{ partial "site-intro" . }}
	  {{ end }}
      
      <main id="site-main">
        {{ block "main" . }}{{ end }}
      </main>
	  {{ if or (not .Site.Params.intro.hideWhenSingleColumn) (and .Page.IsHome .Site.Params.intro.alwaysOnHomepage) }} 
		{{ partial "site-sidebar" . }}
	  {{ end }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
  </body>
</html>
